{% extends 'base.html' %}

{% block title %}: Twitter to RSS{% endblock %}

{% block body %}
<section>
  <h1>Twitter to RSS</h1>
  <form action="{{ url_for('index') }}" method="post">
    <label>
      <p><i>@nickname, #hashtag, search terms:</i></p>
      <input type="text" name="input_string" autocomplete="off" placeholder="..." required />
    </label>
    <button class="button" type="submit">Get the feed</button>
  </form>
</section>
<section>
  <ul>
    <li>
      <h4>So what is this?</h4>
      <p>
        SpySatellite is a service for converting Twitter streams into Atom feeds. Supports user tweets, tweets for a certain hashtag, as well as search results.<br />
        It is written in Python, using Flask and Beautiful Soup. The code is free and open-source and is <a href="https://github.com/micha030201/spysatellite/">available on GitHub</a>.
      </p>
    </li>
    <li>
      <h4>Doesn't this sort of thing already exist?</h4>
      <p>
        You are right, there already are several services doing this. Unfortunately, none of them work particularly well. The only one that worked for me at all was <a href="https://twitrss.me/">TwitRSS.me</a>, but even it can't correctly handle a lot of stuff, uncluding quotes, multiple images, emoji, and line breaks. They motivate this behaviour by the intention to keep compatible with the v1 API, which I would probably have a bigger attachement to had I arrived at the Twitter RSS scene a few years ago, but alas.
      </p>
    </li>
    <li>
      <h4>Is there anything that your service can't do?</h4>
      <p>
        Polls are not supported, at least not yet. SoundCloud frames are not handled, though YouTube ones are.<br />
        Twitter media, in the form of videos and fat JavaScript frames Twitter calls "gifs" for some bizzare reason, are also not shown.
      </p>
    </li>
    <li>
      <h4>What about replies?</h4>
      <p>
        Not shown by default, but you can enable them by appending <kbd>/with_replies</kbd> to the feed url. Note that self-replies don't count as replies and <i>are</i> shown by default.
      </p>
    </li>
    <li>
      <h4>What are the limits of the service?</h4>
      <p>
        Feeds are cached for 17 minutes, as of right now. Rate limit is 6 requests per minute, after the burst of 50 requests. Should be more than enough for now.<br />
        May be changed later, obviously.
      </p>
    </li>
  </ul>
</section>
{% endblock %}
